src/main/mule/demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dddb54fe-d842-4149-a387-c646cf1fd484" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-apiFlow" doc:id="47f55a26-1d95-4a23-8355-c75796dcca52" >
		<http:listener doc:name="Listener" doc:id="78d2fb5f-19ca-4883-9125-7b298945309a" config-ref="HTTP_Listener_config" path="/demo"/>
		<logger level="INFO" doc:name="Logger" doc:id="81a0941f-d702-448f-8b5e-a3c3ea576078" message='#["Hello Demo"]'/>
		<ee:transform doc:name="Transform Message" doc:id="0f93b12f-5b80-4a06-930a-e578b154cc8e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Hello World"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
